Options FollowSymLinks
RewriteEngine On

RewriteCond $1 !^(index.php|img|css|js|install|update|robots.txt|favicon.ico|update.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
